{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-white.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% endblock %}

<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d5 w3-left-align w3-card-4">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class=""></i></a>
    {% if user.is_authenticated %}
    <a href="{%url 'welcome'%}" class="w3-bar-item w3-theme-d4 w3-button w3-hide-small w3-padding-large w3-hover-white"><i class="fa fa-instagram"></i></a>
    <a href="{%url 'welcome'%}" class="w3-bar-item w3-theme-d4 w3-button w3-hide-small w3-padding-large w3-hover-white  w3-right"><i class="fa fa-user"></i></a>
    <a  class="w3-bar-item w3-theme-d4 w3-button w3-hide-small w3-padding-large w3-hover-white  w3-right"><i class="fa fa-heart"></i></a>
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
    {%else%}
     <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" href="/accounts/login">Login</a>
     {%endif%}
     <form role="search" class="w3-hide-small" action="">
     <button type="submit" class="w3-bar-item w3-button  w3-hover-white w3-right">click</button>
     <input type="text" name="user" class="w3-bar-item w3-input w3-transparent w3-padding-large w3-hover-white w3-right" placeholder="Search">
     </form>

 </div>
</div>
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    {% if user.is_authenticated %}
  <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Logout</a>

    {%else%}
  <a href="/accounts/login" class="w3-bar-item w3-button w3-padding-large">Login</a>
    {%endif%}
</div>
<div class="w3-container w3-content" style="max-width:1500px;margin-top:90px">
{%block content%}


{%endblock%}
</div>
<script>
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</body>
</html>
